<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SQLITE3-BREADS</title>

    <style>
        input[type=text],
        [type=number],
        [type=date],
        select {
            width: 100%;
            padding: 12px;
            border: 1px solid #ccc;
            border-radius: 4px;
            resize: vertical;
        }

        label {
            padding: 12px 12px 12px 0;
            display: inline-block;
        }

        input[type=submit] {
            background-color: #433a91;
            color: white;
            padding: 12px 20px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            float: left;
        }

        input[type=submit]:hover {
            background-color: #7745a0;
        }

        .judul {
            margin-left: 20px;
        }

        .container {
            padding: 20px;
            margin-top: -40px;

        }

        .col-25 {
            float: left;
            width: 25%;
            margin-top: 6px;
        }

        .col-75 {
            float: left;
            width: 75%;
            margin-top: 6px;
        }

        .row:after {
            content: "";
            display: table;
            clear: both;
            margin-bottom: 10px;
        }

        .delete {
            background-color: red;
            color: white;
            padding: 5px 20px;
            text-align: center;
            text-decoration: none;
            border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;

        }

        .edit {
            background-color: rgb(0, 255, 0);
            color: white;
            padding: 5px 20px;
            text-align: center;
            text-decoration: none;
            border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
        }

        .add {
            background-color: rgb(40, 136, 201);
            color: white;
            padding: 5px 20px;
            text-align: center;
            text-decoration: none;
            border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
        }

        table {
            border-collapse: collapse;
            width: 100%;
            border: none;
            margin-top: 50px;
            margin-bottom: 10px;
            margin-right: 10px;
            margin-left: 80px;
        }

        th,
        td {
            text-align: left;
            padding: 0px;
            line-height: 2.3;
            border-left: none;
            border-right: none;
        }

        td {
            border: none;
        }

        tr:nth-child(even) {
            background-color: #f2f2f2
        }

        .pagination {
            display: inline-block;
            padding: 5px 20px;
        }

        .pagination a {
            color: black;
            float: left;
            padding: 8px 16px;
            text-decoration: none;
            border: 1px solid #ddd;
        }

        .pagination a.active {
            background-color: #4CAF50;
            color: white;
            border: 1px solid #4CAF50;
        }

        .pagination a:hover:not(.active) {
            background-color: #ddd;
        }

        .pagination a:first-child {
            border-top-left-radius: 5px;
            border-bottom-left-radius: 5px;
        }

        .pagination a:last-child {
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
        }
    </style>
</head>

<body>

    <h1 class="judul">Filter</h1>

    <div class="container">
        <form action="" method="get">
            <input type="hidden" name="page" value="1">
            <div class="row">
                <div class="col-25">
                    <label for="string">String</label>
                </div>
                <div class="col-75">
                    <input type="text" id="string" name="stringdata" placeholder="String" value="<%=query.stringdata%>">
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                    <label for="integer">Integer</label>
                </div>
                <div class="col-75">
                    <input type="number" id="integer" name="integerdata" placeholder="Integer"
                        value="<%=query.integerdata%>">
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                    <label for="float">Float</label>
                </div>
                <div class="col-75">
                    <input type="number" id="float" step="any" name="floatdata" placeholder="Float"
                        value="<%=query.floatdata%>">
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                    <label for="date">Date</label>
                </div>
                <div class="col-75">
                    <input type="date" id="date" name="startDate" placeholder="start date" value="<%=query.startDate%>"> <br>
                    to <br>
                    <input type="date" id="date" name="endDate" placeholder="end date" value="<%=query.endDate%>">
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                    <label for="boolean">Boolean</label>
                </div>
                <div class="col-75">
                    <select name="booleandata" id="boolean">
                        <option value="" disabled selected hidden>Choose the boolean ...</option>
                        <option value="true">True</option>
                        <option value="false">False</option>
                    </select>
                </div>
            </div>
            <br>
            <div class="row">
                <input type="submit" value="Submit">
            </div>
        </form>
    </div>

    <table style="width: 100%" border="1" cellspacing="0" cellpadding="0">
        <thead>
            <tr>
                <th>ID</th>
                <th>String</th>
                <th>Integer </th>
                <th>Float</th>
                <th>Date</th>
                <th>Boolean</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <% rows.forEach(item=> {%>
                <tr>
                    <td>
                        <%= item.id %>
                    </td>
                    <td>
                        <%= item.stringdata %>
                    </td>
                    <td>
                        <%= item.integerdata %>
                    </td>
                    <td>
                        <%= item.floatdata %>
                    </td>
                    <td>
                        <%= moment(item.datedata).format('DD MMMM YYYY') %>
                    </td>
                    <td>
                        <%= item.booleandata %>
                    </td>
                    <td>
                        <a class="edit" href="/edit/<%= item.id%>">Edit</a>
                        <a class="delete" href="/delete/<%= item.id%>">Hapus</a>
                    </td>
                </tr>
                <% }) %>
        </tbody>
    </table>
    <div class="pagination">
        <a
            href="<%= url.replace(`page=${page}`, `page=${(parseInt(page) - 1) <= 0 ? 1 : parseInt(page-1) }` ) %>">Previous</a>

        <%for (let i=1; i <=pages; i++) { %>
            <a class="<%= page == i ? 'active' : '' %>" href="<%=url.replace(`page=${page}`, `page=${i}`)%>">
                <%= i%>
            </a>
            <% } %>

                <a
                    href="<%= url.replace(`page=${page}`, `page=${(parseInt(page) + 1) > pages ? pages : (parseInt(page)+1) }` ) %>">Next</a>

    </div>
    <br>
    <a class="add" href="/add">Tambah</a>
</body>

</html>